@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .status {
    align-self: flex-end;
  }

  .actions {
    flex-direction: column;
  }

  .setting-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .setting-control {
    width: 100%;
  }

  .tab-content .setting-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .tab-content .setting-control {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}